body,
html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    animation: fadeIn 6s;
    font-family: 'Sarabun-Regular';
    color: black;
    font-size: 30px;
}

.title:hover {
    transform: scale(1.15);
    cursor: grabbing;
}

@font-face {
    font-family: 'Sarabun-Regular';
    src: url('design/Sarabun/Sarabun-Regular.ttf');
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

table {
    border: 1px solid black;
}

.container {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 30px;
    animation: fadeIn 6s;
}

.cell {
    border: 1px solid black;
    padding: 100px;
}

.cell:hover {
    /* background: url(design/donkey.svg) no-repeat; 
    background-size: cover; */
    cursor: pointer;
}

/*
.bck {
    background-image: url(design/jksn.png);
    background-size: 100%;
    background-repeat: no-repeat;
    animation: fadeIn 6s;
}
*/

#box0,
#box1,
#box2 {
    border-top: none;
}

#box0,
#box3,
#box6 {
    border-left: none;
}

#box6,
#box7,
#box8 {
    border-bottom: none;
}

#box2,
#box5,
#box8 {
    border-right: none;
}

.playerTurn {
    text-align: center;
    animation: fadeIn 6s;
}