body,
html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    animation: fadeIn 6s;
    font-family: 'Cougar';
    color: black;
    font-size: 30px;
}

.title:hover {
    transform: scale(1.05);
    cursor: grabbing;
}

@font-face {
    font-family: 'Sarabun-Regular';
    src: url('design/Sarabun/Sarabun-Regular.ttf');
}

@font-face {
    font-family: 'Cougar';
    src: url('design/Courgette-Regular.ttf');
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

table {
    border: 1px solid black;
}

.container {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 30px;
    animation: fadeIn 3s;
}

.cell {
    border: 1px solid black;
    padding: 100px;
}

.cell:hover {
    /* background: url(design/donkey.svg) no-repeat; 
    background-size: cover; */
    cursor: pointer;
}


.bck {
    background-image: url(design/bckimg.webp);
    background-size: 120%;
    background-repeat: no-repeat;
    animation: fadeIn 3s;
    opacity: 80%;
}

/*
#box0,
#box1,
#box2 {
    border-top: none;
}

#box0,
#box3,
#box6 {
    border-left: none;
}

#box6,
#box7,
#box8 {
    border-bottom: none;
}

#box2,
#box5,
#box8 {
    border-right: none;
}
*/

.playerTurn {
    text-align: center;
    animation: fadeIn 6s;
    margin-bottom: 10px;
    font-family: 'Cougar';
}


.co1 {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    margin: 10px;
}

.co1:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

.co1:focus {
    border-color: #4285f4;
    outline: none;
}

.co2 {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    margin: 10px;
}

.co2:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

.co2:focus {
    border-color: #4285f4;
    outline: none;
}


.choosePlayer {
    display: flex;
    justify-content: center;
    padding: 20px;
}